@import '../utils/variables.scss';

.cart-icon {
    position: relative;
    display: block;
    margin: 0 20px;

    &__icon {
        display: block;
        width: 25px;
    }

    &__badge {
        position: absolute;
        top: -5px;
        right: -5px;
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: #fff;
        font-size: 10px;
        text-align: center;
        color: $color-primary;
    }
}