@import '../utils/helpers.scss';
@import '../utils/variables.scss';

.product-card {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    max-width: 25%;
    flex-basis: 25%;

    &__media {
        position: relative;
        display: block;
        padding-bottom: 75%;
    }

    &__img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__title {
        font-size: 18px;
    }

    &__price {
        margin-bottom: 10px;
        font-size: 22px;
        font-weight: 700;
        color: $color-primary-variant;
    }

    &__short-description {
        margin-bottom: 10px;
        font-size: 14px;
    }

    &__label {
        position: absolute;
        top: 0;
        right: 9px;
        padding: 5px 15px;
        background-color: $color-primary;
        color: #fff;
        text-transform: uppercase;
        font-weight: 700;
    }

    &__tip {
        margin-top: auto;
        font-size: 12px;
        color: $color-error;
    }
}