.product {
    display: flex;
    margin: 0 -10px;

    &__media-wrapper,
    &__info {
        flex-basis: 50%;
        max-width: 50%;
        padding: 0 10px;
    }

    &__media {
        position: relative;
        display: block;
        padding-bottom: 100%;
    }

    &__img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}