.product {
    display: flex;
    margin: 0 -10px;

    &__media-wrapper,
    &__info {
        flex-basis: 50%;
        max-width: 50%;
        padding: 0 10px;
    }

    &__media {
        position: relative;
        display: block;
        padding-bottom: 100%;
    }

    &__img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__title {
        margin-top: 0;
        text-transform: uppercase;
    }

    &__price {
        margin-bottom: 30px;
    }

    &__buy-section {
        margin-bottom: 30px;
    }

    &__description {
        font-size: 14px;
    }
}