$time-long: .7s;
$time-md: 200ms;

$color-primary: #6200ee;
$color-primary-variant: #3700b3;
$color-secondary: #03dac6;
$color-secondary-variant: #018786;
$color-error: #c51162;
$color-success: #43a047;
$color-info: #1976d2;